*.sdf
*.suo
.tundra2.*
.metadata
Thumbs.db
/ide
t2-output
/ide
amalgamation/xo-amalgamation-freetype.c
amalgamation/xo-amalgamation.cpp
amalgamation/xo-amalgamation.h
examples/Android/bin/*
examples/Android/libs/*
examples/Android/obj/*
examples/Android/gen/*
/findings
